* {
    padding: 0;
    margin: 0;
}


.header {
    width: 100%;
    height: 100px;
    display: block;
    background-color: #89AE8F;
}

#signupyt {
    width: 40%;
    margin-left: 20px;
    height: 8%;
    border-radius: 40px;
    background-color: #000;
    border-color: #000;
    margin-top: 40px;
    background-color: black;
    border-color: black;
    margin-top: 30px;
    font-family: Poppins;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    transition: 0.3s;
    text-align: center;
}

#signupco {
    width: 40%;
    margin-left: 20px;
    height: 8%;
    border-radius: 40px;
    <<<<<<< HEAD background-color: #000;
    border-color: #000;
    margin-top: 30px;
    background-color: black;
    border-color: black;
    margin-top: 20px;
    font-family: Poppins;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    transition: 0.3s;
    text-align: center;
}

#signupyt:hover {
    width: 40.5%;
    height: 8.5%;
    border-radius: 40.5px;
    background-color: white;
    color: #000;
    color: black;
    cursor: pointer;
}

#signupco:hover {
    width: 40.5%;
    height: 8.5%;
    border-radius: 40.5px;
    background-color: white;
    color: black;
    cursor: pointer;
}

#home {
    padding-top: 50px;
    padding-left: 50px;
    font-family: Poppins;
    background-image: url("https://media.discordapp.net/attachments/972084545136492606/972154604659802132/Untitled49_20220506200627.png?width=1045&height=588");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 130px;
}

h1 {
    font-family: Montserrat;
    font-weight: bolder;
}

#text1 {
    margin-right: 35%;
}

.inner_header {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: #000;
    height: 100% display:table-cell;
    vertical-align: left;
    position: relative;
    top: 18px;
    left: 18px;
    font-weight: 300;
    margin-bottom: 1em;
    font-family: Montserrat;
    font-size: 30px;
}

.logo_container img {
    margin-top: 8px;
    float: left;
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
}

.navigation {
    float: right;
    height: 100%;
    margin-top: 10px;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 30px;
    margin-bottom: 50px;
    text-decoration: none;
    font-weight: 800;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    color: #000;
    font-size: 20px;
    font-family: Poppins;
    padding-bottom: 20px;
}

.navigation a:hover li {
    color: #FFF;
}
