* {
    padding: 0;
    margin: 0;
}


.header {
    width: 100%;
    height: 100px;
    display: block;
    background-color: #89AE8F;
}


.inner_header {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

#text {
    font-weight: bold;
    font-family: poppins;
    color: black;
}

.logo_container h1 {
    color: #000;
    height: 100%;
    vertical-align: left;
    position: relative;
    top: 18px;
    left: 18px;
    font-weight: 300;
    margin-bottom: 1em;
    font-family: Montserrat;
    font-size: 30px;
}

.logo_container img {
    margin-top: 8px;
    float: left;
    width: 90px;
    height: 90px;
    margin-bottom: 5px;
}

.navigation {
    float: right;
    height: 100%;
    margin-top: 10px;
    text-decoration: none;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 30px;
    margin-bottom: 50px;
    font-weight: 700;
}

.navigation a:last-child {
    padding-right: 0;
        text-decoration: none;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    color: #000;
    font-size: 20px;
    font-family: Poppins;
    padding-bottom: 20px;
        text-decoration: none;
}

.navigation a:hover li {
    color: #FFF;
    text-decoration: none;
}


#signupyt {
    width: 40%;
    margin-left: 20px;
    height: 8%;
    border-radius: 40px;
    background-color: #000;
    border-color: #000;
    margin-top: 40px;
    background-color: black;
    border-color: black;
    margin-top: 30px;
    font-family: Poppins;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    transition: 0.3s;
    text-align: center;
}

#signupco {
    width: 40%;
    margin-left: 20px;
    height: 8%;
    border-radius: 40px;
    background-color: #000;
    border-color: #000;
    margin-top: 30px;
    background-color: black;
    border-color: black;
    margin-top: 20px;
    font-family: Poppins;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    transition: 0.3s;
    text-align: center;
}

#signupyt:hover {
    width: 40.5%;
    height: 8.5%;
    border-radius: 40.5px;
    background-color: white;
    color: #000;
    color: black;
}

#signupco:hover {
    width: 40.5%;
    height: 8.5%;
    border-radius: 40.5px;
    background-color: white;
    color: black;
}

#home {
    padding-top: 50px;
    padding-left: 50px;
    font-family: Poppins;
    background-image: url("https://media.discordapp.net/attachments/972084545136492606/972154604659802132/Untitled49_20220506200627.png?width=1045&height=588");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 130px;
}

#logotext {
    font-family: Montserrat;
    font-weight: bolder;
    margin-top: 3px;
}

#text1 {
    width: 50%;
    font-weight: 500;
    margin-top: 10px;
    color: black;
}



/* After Header */


#heading2 {
    text-align: center;
    padding-top: 25px;
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: bold;
    font-family: Poppins;
}

#line {
    margin-left: 45%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#text2 {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-family: poppins;
    font-weight: 500;
    line-height: 32px;
    font-size: 20px;
}

#section1 {
    margin-top: 10px;
}

#highlight {
    color: #89AE8F;
    font-weight: bold;
    text-decoration: underline;
}

#social-media {
    background-color: #6b9671;
    height: 9%;
}

#twitter {
    font-size: 40px;
    color: white;
    margin-top: 10px;
    margin-left: 36%
}

#twitter:hover {
    font-size: 40px;
    color: black;
    margin-top: 10px;
    margin-left: 36%
}

#instagram {
    font-size: 40px;
    color: white;
    margin-left: 50px;
}

#instagram:hover {
    font-size: 40px;
    color: black;
    margin-left: 50px;
}

#youtube {
    font-size: 40px;
    color: white;
    margin-left: 50px;
}

#youtube:hover {
    font-size: 40px;
    color: black;
    margin-left: 50px;
}

#discord {
    font-size: 40px;
    color: white;
    margin-left: 50px;
}

#discord:hover {
    font-size: 40px;
    color: black;
    margin-left: 50px;
}

#facebook {
    font-size: 40px;
    color: white;
    margin-left: 50px;
}

#facebook:hover {
    font-size: 40px;
    color: black;
    margin-left: 50px;
}

/* After GTKU */

#divider {
    opacity: 0.2;
    background: black;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#FAQ {
    width: 55%;
    margin-left: 23%;
}

#heading3 {
    text-align: center;
    padding-top: 25px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: Poppins;
    margin-top: 5px;
}

.carousel-inner {
    height: 400px;
}

.carousel-control.left,
#Carousel .carousel-control.right {
    background-image: none;
}

/*After FAQ*/

/* Start of footer */


.footer {
    width: 100%;
    height: 300px;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #89AE8F;
}

.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%
}

.inner_footer .logo_container_footer {
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}


.inner_footer .logo_container_footer img{
	width: 100px;
	height: auto;
	border-radius: 3.2em;
	margin-top: 2em;
	margin-left: 6em;

}

.logo_container_footer {
    margin-top: 25px;
    padding-left: 70px;
}


.inner_footer .footer_third{
	width: calc(21.6666666667% - 20px);
	margin-right: 10px;
	float: left;
	height: 100%;
}
.inner_footer .logo_container_footer img {
    width: 80px;
    height: auto;
    border-radius: 3.2em;
    margin-top: 2em;
    margin-left: 6em;

}

.footer_third {
    text-decoration: none;
    font-family: Poppins;

}

a {
    text-decoration: none;
}

.inner_footer .footer_third {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner_footer .footer_third:last-child {
    margin-right: 0;
}

.inner_footer .footer_third h1 {
    font-size: 22px;
    color: black;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a {
    font-size: 18px;
    color: black;
    display: block;
    width: 100%;
    padding-bottom: 5px;
}


.inner_footer .footer_third a:hover {
    color: #FFF;
}

.inner_footer .footer_third li {
    display: inline-block;
    padding: 0 5px;
    font-size: 48px;
}

@media(max-width: 800px) {
    .footer .inner_footer {
        width: 90;
    }

    .inner_footer .logo_container_footer,
    .inner_footer .footer_third {
        width: 100%;
        margin-bottom: 30px;
    }
}

#footerfacebook {
    font-size: 30px;
}

#footersocial {
    margin-left: 10px;
    font-size: 30px;
}

/* End of footer */
/* Dont Mind */

#space {
    height: 200px;
}


#btn {
    background-image: url(/SMLogo.png);
    width: 106px;
    height: 106px;
}

